* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 4fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1/3;
  position: relative;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul {
  display: grid;
  position: absolute;
  right: 10px;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  list-style-type: none;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar {
  background-color: #c50208;
  grid-row: 2/4;
  display: grid;
  gap: 50px;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #c50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
